/W1D2/dog.java/nbproject/private/
/W1D2/dog.java/build/
/W1D2/movie/nbproject/private/
/W1D2/Dog/nbproject/private/
/W1D2/Dog/build/
/W1D2/Person/nbproject/private/
/W1D2/Person/build/
/W1D2/Dogs/nbproject/private/
/W1D2/Gooddog/nbproject/private/
/W1D2/Exam1REVIEW/nbproject/private/
/W1D2/Exam1REVIEW/build/
/W1D2/fizz/nbproject/private/
/W1D2/fizz/build/
/W1D2/Question2/nbproject/private/
/W1D2/Question2/build/
/W1D2/car/nbproject/private/
/W1D2/car/build/
/W1D2/array/nbproject/private/
/W1D2/mar3/nbproject/private/
/W1D2/W2D2/nbproject/private/
/W1D2/array/build/
/W1D2/W2D2/build/
/W1D2/W2D3/nbproject/private/
/W1D2/W2D3/build/
/W1D2/W2D4/nbproject/private/
/W1D2/W2D4/build/
/W1D2/Stuff/nbproject/private/
/W1D2/Test/nbproject/private/
/W1D2/Test/build/
/W1D2/homework/nbproject/private/
/W1D2/homework/build/
/W1D2/W3D1/nbproject/private/
/W1D2/W3D2/nbproject/private/
/W1D2/W3D2/build/
/W1D2/W3D3/nbproject/private/
/W1D2/W3D3/build/